<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h2 th:text="'Hotel tidak bisa dihapus karena memiliki kamar.'"></h2>
<td><a th:href="@{/hotel/view?idHotel=}+${hotelModel.id}">Kembali</a></td>
</body>
</html>