<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar (title='Update Hotel')"></nav>
    <h3 th:text="'Hotel '+ ${hotel.namaHotel} + ' berhasil diubah'"></h3>
    <td><a th:href="@{/hotel/view?idHotel=}+${hotel.id}">View Hotel</a></td>
</body>
</html>