<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="container-fluid">
    <nav th:replace="fragments/fragment :: navbar (title='Update Password')"></nav>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Update Password</div>
                <div class="card-body">
                    <form th:action="@{/user/updatePassword}" method="POST">
                        <h6 th:text="${msg}"></h6>
                        <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}"/>
                        <label>Password Lama</label>
                        <input type="password" name="oldPassword" class="form-control">
                        <label>Password Baru</label>
                        <input type="password" name="newPassword" class="form-control">
                        <label>Konfirmasi Password Baru</label>
                        <input type="password" name="confirmPassword" class="form-control">
                        <br>
                        <button type="submit" class="btn btn-primary">Update Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>