<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Hotel</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar (title='View All Hotel')"></nav>
<h2>Daftar Seluruh Hotel</h2>
<table class="table">
    <thead>
    <tr>
        <th>No</th>
        <th>ID Hotel</th>
        <th>Nama Hotel</th>
        <th>Alamat Hotel</th>
        <th>Nomor Telepon</th>
        <th>Lihat Hotel</th>
        <th>Ubah Hotel</th>
        <th>Delete Hotel</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="hotel, iterationStatus : ${listHotel}">
        <td th:text="${iterationStatus.count}"></td>
        <td th:text="${hotel.id}"></td>
        <td th:text="${hotel.namaHotel}"></td>
        <td th:text="${hotel.alamat}"></td>
        <td th:text="${hotel.nomorTelepon}"></td>
        <td>
            <a th:href="@{/hotel/view?idHotel=}+${hotel.id}"><button type="submit" class="btn btn-info">Lihat Hotel</button</a>
        </td>
        <td>
            <a th:href="@{/hotel/change/}+${hotel.id}"><button type="submit" class="btn btn-primary">Ubah Hotel</button</a>
        </td>
        <td>
            <a th:href="@{/hotel/delete/}+${hotel.id}"><button type="submit" class="btn btn-danger">Delete Hotel</button</a>
        </td>
    </tr>
    </tbody>
</table>
<!--<div th:each="hotel: ${listHotel}">-->
<!--    <h3 th:text="'Id Hotel: ' + ${hotel.id}"></h3>-->
<!--    <h3 th:text="'Nama Hotel: ' + ${hotel.namaHotel}"></h3>-->
<!--    <h3 th:text="'Alamat Hotel: ' + ${hotel.alamat}"></h3>-->
<!--    <h3 th:text="'Nomor Telepon: ' + ${hotel.nomorTelepon}"></h3>-->
<!--</div>-->
<br>
<td>
    <a th:href="@{/}"><button type="submit" class="btn btn-warning">Kembali</button</a>
</td>
</body>
</html>